@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #fff;
    --background-color-primary: #fff;
    --background-color-secondary: #EFF2F5;

    --color-white: #000;
    --color-black: #fff;
    --border-color: #D4D4D4;
    --text-secondary: #55626F;

    --chart-light-bg: #fff;
    --chart-dark-bg: #050505;
    --chart-light-border: #D4D4D4;
    --chart-dark-border: #333;
    
    --links-color: #1565C0;
}

#dark-theme{
    --background-color: #050505;
    --background-color-primary: #0E1218;
    --background-color-secondary: #1C2025;

    --color-white: #fff;
    --color-black: #000;
    --border-color: #1D1F22;
    --text-secondary: #bebebe;

    --links-color: #1565C0;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

div::-webkit-scrollbar{
    height: 8px;
}

div::-webkit-scrollbar-track{
    border-radius: 12px;
}

div::-webkit-scrollbar-thumb{
    background-color: var(--background-color-secondary);
    border-radius: 12px;
    width: 20%;
}

.red{
    color: red !important;
}

.green{
    color: green !important;
}

p.red{
    font-weight: 600 !important;
}

a{
    color: var(--color-white);
    text-decoration: none;
}

i{
    color: var(--color-white);
}

img{
    object-fit: cover;
}

table {
    overflow: scroll;
}

table tr td{
    white-space: nowrap;
}

table tr td:first-child{
    border-radius: 12px 0 0 12px;
}

table tr td:last-child{
    border-radius: 0 12px 12px 0;
}

table tr td.rank{
    padding-left: 10px;
}

table tr td.name-column{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

table tr td img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 6px;
    border-radius: 12px;
}

.table-fixed-column{
    background: var(--background-color-primary);
    position: sticky;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease;
}

table thead tr:hover {
    background: transparent !important;
    cursor: unset !important;
}

body{
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all 0.5s ease;
}

.main{
    flex: 1;
    min-height: calc(100vh - 120px);
}

.global{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 16px 20px;
}

.global p{
    font-size: 12px;
    color: var(--color-white);
}

.global p span{
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color-primary);
    padding: 14px 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

nav .left-section,
nav .right-section{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .left-section .logo{
    font-weight: 600;
    font-size: 26px;
}

nav .left-section .nav-links{
    display: flex;
    gap: 10px;
}

nav .left-section .nav-links a{
    font-size: 13px;
    padding: 10px 14px;
    border-radius: 12px;
    color: var(--text-secondary);
    transition: all 0.3s ease;
}

nav .left-section .nav-links a.active,
nav .left-section .nav-links a:hover{
    background: var(--background-color-secondary);
    color: var(--color-white);
}

nav .right-section{
    width: 30%;
    gap: 20px;
}

nav .right-section .search{
    display: flex;
    align-items: center;
    background: var(--background-color-secondary);
    padding: 0 10px;
    border-radius: 12px;
    width: 100%;
}

nav .right-section .search input{
    padding: 10px 6px;
    background: var(--background-color-secondary);
    color: var(--color-white);
    font-size: 14px;
}

nav .right-section .search input::placeholder,
nav .right-section .search i{
    color: var(--text-secondary);
}

nav .right-section > i{
    padding: 8px;
    background: var(--background-color-secondary);
    color: var(--color-white);
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .right-section > i.ri-sun-line{
    transform: rotate(0deg);
}

nav .right-section > i.ri-moon-line{
    transform: rotate(360deg);
}

.trending{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.trending .coins-wrapper,
.trending .nfts-wrapper{
    width: 49%;
}

.trending h3{
    color: var(--color-white);
    font-weight: 500;
    width: 100%;
    margin-bottom: 20px;
}

.trending .coins-wrapper .container,
.trending .nfts-wrapper .container{
    background: var(--background-color-primary);
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.trending table,
.tab-container .tab-content table,
.search-container .item table {
    width: 100%;
    border-spacing: 0 20px;
}

.trending table th,
.tab-container .tab-content table th,
.search-container .item table th {
    color: var(--color-white);
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.trending .coins-wrapper table tr,
.tab-container .tab-content #asset-list table tr,
.search-container .item #coins-list table tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.trending table tr td,
.search-container .item table tr td{
    padding: 5px;
}

.trending table tr td,
.tab-container .tab-content table tr td,
.search-container .item table tr td {
    color: var(--text-secondary);
    font-size: 13px;
}

.trending .coins-wrapper table tr:hover,
.trending .coins-wrapper table tr:hover td.table-fixed-column,
.tab-container .tab-content #asset-list table tr:hover,
.tab-container .tab-content #asset-list table tr:hover td.table-fixed-column,
.search-container .item #coins-list table tr:hover{
    background: var(--background-color-secondary);
}

.trending .coins-wrapper .container .table-fixed-column,
.trending .nfts-wrapper .container .table-fixed-column{
    left: -20px;
}

.spinner{
    display: none;
    width: 50px;
    height: 50px;
    border: 6px solid var(--text-secondary);
    border-top: 6px solid var(--background-color-secondary);
    border-radius: 50%;
    margin: 10px auto 20px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.error-message{
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.tab-container{
    margin: 0 40px;
    background-color: var(--background-color-primary);
    padding: 20px;
    border-radius: 12px;
}

.tab-container .tabs{
    background: var(--background-color-secondary);
    display: inline-flex;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.tab-container .tabs .tab-button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    color: var(--text-secondary);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-container .tabs .tab-button i{
    font-size: 20px;
    color: var(--text-secondary);
    transition: all 0.3s ease;
}

.tab-container .tabs .tab-button.active,
.tab-container .tabs .tab-button.active i{
    color: var(--color-white);
}

footer{
    background: var(--background-color-primary);
    width: 50%;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0 0;
    border: 1px solid var(--border-color);
    margin: 0 auto;
}

footer p{
    color: var(--text-secondary);
    font-size: 13px;
}

footer .social-icons,
.overlay .social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .social-icons a,
#scrollTop,
.overlay .social-icons a{
    background: var(--background-color);
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

footer .social-icons a:hover,
#scrollTop:hover,
.overlay .social-icons a:hover{
    background: var(--links-color);
}

footer .social-icons a i,
.overlay .social-icons a i{
    font-size: 26px;
    color: var(--color-white);
}

#scrollTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background: var(--background-color-secondary);
    padding: 6px;
    font-size: 30px;
}

.hidden{
    display: none;
}

.main > h3{
    color: var(--color-white);
    margin: 40px 40px 20px;
    font-weight: 500;
}

.chart-container,
.search-container {
    margin: 40px 40px 0;
    background: var(--background-color-primary);
    border-radius: 12px;
    height: 100vh;
}

.chart-container{
    background: var(--background-color);
    margin-bottom: 20px;
}

.search-container{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 20px 20px 10px;
    gap: 20px;
    border: 1px solid var(--border-color);
}

.search-container .item{
    width: 38%;
}

.search-container .item h4{
    color: var(--color-white);
    font-weight: 500;
    margin: 0 0 20px;
}

.about-container{
    background: var(--background-color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 0;
    padding: 40px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.about-container .image{
    text-align: right;
}

.about-container .image img{
    width: 75%;
    border-radius: 40px;
}

.about-container .info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-container .info h3{
    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;
}

.about-container .info p{
    color: var(--text-secondary);
    text-align: justify;
    font-size: 14px;
}

.about-container .info button{
    background: var(--background-color-secondary);
    color: var(--color-white);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 120px;
    transition: all 0.3s ease;
}

.about-container .info button:hover{
    background: var(--links-color);
}

.coin-container{
    margin: 40px;
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.coin-container .left-section{
    width: 30%;
}

.coin-container .left-section .ticker{
    background: var(--background-color-primary);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.coin-container .tradingview-widget-container{
    padding: 10px;
}

.coin-container .left-section .coin-info,
.coin-container .right-section .status .container{
    background: var(--background-color-primary);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.coin-container .left-section > h3,
.coin-container .right-section .status > h3{
    color: var(--color-white);
    font-weight: 500;
    margin: 36px 0 20px;
}

.coin-container .left-section .coin-info .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.coin-container .left-section .coin-info .logo img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.coin-container .left-section .coin-info .logo h4{
    color: var(--color-white);
}

.coin-container .left-section .coin-info h4 span{
    font-size: 12px;
    color: var(--text-secondary);
}

.coin-container .left-section .coin-info .logo p{
    background: var(--background-color-secondary);
    color: var(--color-white);
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 12px;
}

.coin-container .left-section .coin-info .status,
.coin-container .right-section .status{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coin-container .left-section .coin-info .status .item,
.coin-container .right-section .status .container .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 12px;
    margin-top: 8px;
}

.coin-container .right-section .status .container .item:first-child{
    margin-top: 0;
}

.coin-container .left-section .coin-info .status .item:last-child,
.coin-container .right-section .status .container .item:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.coin-container .left-section .coin-info .status .item p.str,
.coin-container .right-section .status .container .item p.str{
    color: var(--text-secondary);
    font-size: 14px;
    width: 42%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coin-container .left-section .coin-info .status .item p.num,
.coin-container .right-section .status .container .item p.num{
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
}

.coin-container .main-section{
    width: 48%;
}

.coin-container .main-section .mini-chart{
    width: 100%;
    height: 100%;
}

.coin-container .main-section .mini-chart .tradingview-widget-container {
    padding: 0;
}

.coin-container .right-section{
    width: 22%;
    display: flex;
    flex-direction: column;
}

.coin-container .right-section .status:first-child > h3{
    margin-top: 0;
}

.coin-container .right-section .links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.coin-container .right-section .links a,
.coin-container .right-section .links p{
    color: var(--color-black);
    background: var(--links-color);
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.coin-container .right-section .links a:hover{
    background: var(--links-color);
    color: var(--color-white);
}

.coin-desc{
    background: var(--background-color-primary);
    border-radius: 12px;
    padding: 20px;
    margin: 0 40px;
    border: 1px solid var(--border-color);
}

.coin-desc h3{
    color: var(--color-white);
    font-weight: 600;
    margin: 8px 0 20px;
}

.coin-desc p{
    color: var(--text-secondary);
    line-height: 26px;
    font-size: 14px;
}

.coin-desc p a{
    color: var(--links-color);
}

#openMenu{
    background: var(--background-color-secondary);
    font-size: 20px;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    display: none;
}

.overlay{
    position: fixed;
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.5s ease;
}

.overlay.show{
    opacity: 1;
    visibility: visible;
}

.overlay .nav-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.overlay .nav-links a{
    font-size: 24px;
    transition: all 0.3s ease;
}

.overlay .nav-links a.active,
.overlay .nav-links a:hover{
    color: var(--links-color);
}

.overlay button#closeMenu{
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay button#closeMenu i{
    font-size: 34px;
    transition: all 0.3s ease;
}

.overlay button#closeMenu:hover i{
    color: var(--links-color);
}


@media screen and (max-width: 1400px) {
    
    .coin-container{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .coin-container .left-section{
        width: 38%;
    }

    .coin-container .main-section{
        width: 59%;
    }

    .coin-container .right-section{
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    .coin-container .right-section .status{
        width: 33%;
    }

    .coin-container .right-section .status > h3,
    .coin-container .right-section .status:first-child > h3{
        margin: 30px 0 20px;
    }

}

@media screen and (max-width: 1200px) {
    
    nav .right-section{
        width: 40%;
    }

    .trending .coins-wrapper .container,
    .trending .nfts-wrapper .container,
    .tab-content #asset-list,
    .tab-content #exchange-list{
        overflow-x: scroll;
    }

    .trending table,
    #asset-list table,
    #exchange-list table{
        width: 150%;
    }

    table tr td.name-column{
        max-width: 160px;
        padding-right: 50px;
    }

    footer{
       width: 60%; 
    }

    .about-container .image img{
        width: 90%;
    }

}

@media screen and (max-width: 992px) {
    
    .global{
        gap: 30px;
    }

    .global p{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    nav .left-section{
        gap: 20px;
    }

    .trending{
        flex-direction: column;
        gap: 36px;
    }

    .trending .coins-wrapper,
    .trending .nfts-wrapper{
        width: 100%;
    }

    footer{
        width: 100%;
        padding: 16px 90px;
    }

    .tab-content #category-list,
    .tab-content #company-list{
        overflow-x: scroll;
    }

    .tab-content #category-list table,
    .tab-content #company-list table{
        width: 150%;
    }

    #asset-list table,
    #exchange-list table{
        width: 200%;
    }

    .search-container{
        flex-wrap: wrap;
    }

    .search-container .item:nth-child(1),
    .search-container .item:nth-child(2){
        width: 48%;
    }

    .search-container .item:nth-child(3){
        width: 100%;
    }

    .search-container .item:nth-child(3) h4{
        margin: 10px 0 20px;
        border-top: 1px dashed var(--border-color);
        padding-top: 20px;
    }

    .about-container{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .about-container .image{
        text-align: center;
    }

    .about-container .image img{
        width: 60%;
    }

    .coin-container .left-section{
        width: 100%;
    }

    .coin-container .main-section{
        width: 100%;
        height: 50vh;
    }

    .coin-container .right-section{
        flex-wrap: wrap;
    }

    .coin-container .right-section .status:first-child{
        width: 100%;
    }

    .coin-container .right-section .status{
        width: 48%;
    }

    .coin-container .right-section > h3{
        margin-top: 10px;
    }

}

@media screen and (max-width: 768px) {
    
    .global p:last-child{
        display: none;
    }

    nav .right-section{
        width: 65%;
    }

    nav .left-section{
        gap: 10px;
    }

    nav .left-section .nav-links{
        display: none;
    }

    #openMenu{
        display: flex;
    }

    .tab-container .tabs{
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .tab-container .tab-button{
        width: 50%;
    }

    #asset-list table,
    #exchange-list table,
    .tab-content #category-list table{
        width: 300%;
    }

    .tab-content #company-list table{
        width: 250%;
    }

    .tab-content #company-list table tr td.name-column{
        width: 120px;
    }

    footer{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .chart-container{
        height: 80vh;
    }

    .search-container .item:nth-child(1),
    .search-container .item:nth-child(2){
        width: 100%;
    }

    .search-container .item:not(:first-child) h4{
        margin: 10px 0 20px;
        border-top: 1px dashed var(--border-color);
        padding-top: 20px;
    }

    .about-container .image img{
        width: 100%;
    }

    .coin-container .right-section .status{
        width: 100%;
    }

}